%h3 Technical Skills
%p Proficiency in Ruby, Rails, Git, SQL (PostgreSQL, MySQL), HTML (Haml), CSS (SASS), mocking/stubbing, TDD (Rspec and Minitest), Redis, Mac OS X, Linux, UNIX. Knowledgeable in C++, JavaScript (CoffeeScript), jQuery, Bash, PHP, Perl. Currently learning more about front-end JavaScript frameworks with my eye on Ember. Amateur designer.

%h3 Experiences

- if @experiences.present?
  %ul.unstyled
    = render @experiences

- else
  Something must be wrong. I promise I've worked before.

%h3 Education
%ul.unstyled
  %li Bachelor of Science in Computer Networking
  %li Wentworth Institute of Technology Boston, MA
